:root{
    --main-font-family:Roboto,
    sans-serif;
    --secondary-font-family:Raleway
    sans-serif;

    --primary-text-color:#757575;
    --title-text-color:rgba(33, 33, 33, 1);
    --accent-color:#2196F3;
    --primary-background-color:#FFFFFF;
    -secondary-background-color:#F5F4FA;
    --primary-white-color: 
rgba(255, 255, 255, 1);
}
body{
    font-family:var(--main-font-family),
        font-size: 16px;
    line-height: 1.18;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    }

.nav-logo-begin{
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--accent-color)
}
.nav-logo-end {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);

}

ul{list-style: none;}

.nav-list .link{
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration:none
    
}

.nav-list .link:hover,
.nav-list .link:focus {
    color:var(--accent-color)
}

.nav-list.link.current {
    color:var(--accent-color)
}

.contacts-mail{
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
    color:var(--primary-text-color)

}

.contacts-mail:hover,
.contacts-mail:focus{
     color: var(--accent-color);
     text-decoration: underline;

}
.contacts-phone{
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
    color:var(--primary-text-color)
}
.contacts-phone:hover,
.contacts-phone:focus{
    text-decoration: underline;
}

/* hero */
.hero{
    background-color:#2F303A;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-white-color);
}

.hero-button{
    color:var(--primary-white-color);
    background-color:var(--accent-color);
    cursor:pointer;
    }

.hero-button:hover,
.hero-button:focus{
    background: rgba(33, 150, 243, 1);
    
}
/* section features*/

.section-title{
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    color:var(--title-text-color);
}

.features-title{
    font-weight: 900;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color);
}

/* section team */
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
}

.job{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em
}

/* footer */
.footer{
    background: #2F303A;
}
.footer-logo-begin{
    font-family: var(--secondary-font-family);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color:var(--accent-color);
    
}

.footer-logo-end {
    font-family: var(--secondary-font-family);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);
    
}

.address{
    font-size: 14px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--primary-white-color)
    

}
.footer-contacts{
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus{
    text-decoration: underline;
}

/* page portfolio */
.project-name{
    font-weight: 900;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-text-color);

}

.project-type{
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.03em;
    color:var(--primary-text-color)

}
.project-button{
    background-color:#F5F4FA;
    color:var(--title-text-color);
    cursor: pointer;

}
.project-button:hover,
.project-button:focus {
    background-color:var(--accent-color);
    color: var(--primary-white-color)
}


